*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lista-filmes{
max-width: 800px;
margin: 14px auto;
}

.lista-filmes article{
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    transition: 0.5s;
}

.lista-filmes article:hover{
    transform: scale(1.01);
}


.lista-filmes img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    display: block;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.lista-filmes strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.lista-filmes a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #116feb;
    color: #fff;
    border-radius: 0px 0px 8px 8px;


}


.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}