.erro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.erro a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    background-color: cornflowerblue;
    width:200px;
    height: 40px;
    border-radius: 4px;
}